<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Yeni Bölüm Oluştur</mat-card-title>
    <mat-card-subtitle
      >Lütfen tüm alanları eksiksiz doldurun ve yeni bölümü
      oluşturun.</mat-card-subtitle
    >
  </mat-card-header>
  <form [formGroup]="depForm" (ngSubmit)="onSubmit()">
    <div style="padding: 16px;">
      <mat-card-content>
        <mat-form-field>
          <mat-label>Bölüm Adı</mat-label>
          <input
            formControlName="name"
            matInput
            placeholder="Örneğin: Bilgisayar Mühendisliği"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bölüm Açıklaması</mat-label>
          <textarea
            formControlName="description"
            matInput
            placeholder="Örneğin: Bilişim ile ilgilenenlerin okuyabileceği bir bölümdür."
          ></textarea>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Memnuniyet</mat-label>
          <input
            formControlName="satisfaction"
            matInput
            placeholder="Örneğin: 70%"
          />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Dersler</mat-label>
          <mat-select formControlName="courses" multiple>
            <mat-option *ngFor="let course of coursesList" [value]="course">{{
              course.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Beceriler</mat-label>
          <mat-select formControlName="skills" multiple>
            <mat-option *ngFor="let skill of skillsList" [value]="skill">{{
              skill.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>İş İmkanları</mat-label>
          <mat-select formControlName="jobs" multiple>
            <mat-option *ngFor="let job of jobsList" [value]="job">{{
              job.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Bulunduğu Bölümler</mat-label>
          <mat-select formControlName="universities" multiple>
            <mat-option *ngFor="let uni of universitiesList" [value]="uni">{{
              uni.name
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
    </div>
  </form>
  <mat-card-actions>
    <button mat-button color="warn" (click)="router.navigate(['departments'])">
      Geri
    </button>
    <button mat-button color="primary" (click)="onSubmit()">Ekle</button>
  </mat-card-actions>
</mat-card>
